.goods-item {
	width:230px;
	padding:5px 0;
}

.goods-img {
	display:table-cell;
	text-align:center;
	font-size:0px;
	vertical-align: middle;
	border:1px solid #eee;
	width:210px;
	height:200px;
	margin:5px 5px 0 5px;
}

.goods-img:hover {
	background-color:#eee;
}

.goods-title {
	color:blue;
	font-size:14px;
	line-height:21px;
}

.goods-price {
	font-size:14px;
	color:red;
}

.page-info {
	text-align:center;
	font-size:14px;
	margin:20px 0;
}

.page-link {
	border:1px solid #efefef;
	padding:2px 5px;
}

.current {
	border:1px solid #efefef;
	padding:2px 5px;
	background-color:#efefef;
}