.search-content {
	width:720px;
}
.goods-item {
	margin-bottom:10px;
}

.goods-img {
	display:table-cell;
	text-align:center;
	font-size:0px;
	vertical-align: middle;
	border:1px solid #eee;
	width:230px;
	height:200px;
}

.goods-img:hover {
	background-color:#eee;
}

.goods-title {
	color:blue;
	font-size:14px;
	line-height:21px;
}

.goods-price {
	font-size:14px;
	color:red;
}

.goods-postfee {
	font-size:12px;
}

.page-info {
	text-align:center;
	font-size:14px;
	margin:20px 0;
}

.page-link {
	border:1px solid #efefef;
	padding:2px 5px;
}

.current {
	border:1px solid #efefef;
	padding:2px 5px;
	background-color:#efefef;
}

.no-record {
	width:710px;
	height:450px;
	line-height:450px;
	border:1px solid #f1f1f1;
	text-align:center;
}

.current-category {
	line-height:36px;
}