.page-head {
	margin-bottom:10px;
}

.logo {
	border-left:1px solid #f1f1f1;
	border-top:1px solid #f1f1f1;
	border-bottom:1px solid #f1f1f1;
	/*border-right:1px solid #f1f1f1;*/
	width:231px;
	height:90px;
	float:left;
	text-align:center;
}

.search {
	border-top:1px solid #f1f1f1;
	/*border-right:1px solid #f1f1f1;*/
	border-bottom:1px solid #f1f1f1;
	width:479px;
	height:90px;
	float:left;
	text-align:center;
}

.search .searchForm {
	border:3px solid #f672ac;
	width:400px;
	height:36px;
	margin-top:26px;
	margin-bottom:26px;
	margin-left:36px;
}

.search .search-text {
	width:285px;
	height:34px;
	line-height:34px;
    	border:none;
	float:left;
	padding-left: 6px;
	outline:medium;
}

input[type="button"] {
	padding: 0px;
	border: none;
}

.search .button {
	background: #f672ac;
	font-size: 14px;
	font-weight: 700;
	width:100px;
	height:36px;
	float:right;
}

.search .button:hover {
	border:0px;
	margin:0px;
}

.login {
	border-top:1px solid #f1f1f1;
	border-right:1px solid #f1f1f1;
	border-bottom:1px solid #f1f1f1;
	width:240px;
	height:90px;
	float:left;
}

.mybushe {
	font-size:14px;
	line-height:24px;
	float:left;
	margin:32px 10px;
	text-indent:30px;
	width:99px;
	float:left;
	background-image:url(http://static.buyi.com/img/buyi.png);
	background-repeat: no-repeat;
	background-position: -116px -86px;
	background-color:#f7f7f7;
	height:24px;
}

.reg-user {
	font-size:14px;
	text-indent:30px;
	line-height:24px;
	margin:32px 10px;
	width:89px;
	float:right;
	background-image:url(http://static.buyi.com/img/buyi.png);
	background-repeat: no-repeat;
	background-position: -116px -27px;
	background-color:#f7f7f7;
	height:24px;
}

a.linked {
	color: #000000;
	cursor: pointer;
	text-decoration: none;
}

a.linked:hover {
	text-decoration: none;
	color: #000000;
	cursor: pointer;
}

a.linked:visited {
	color: #000000; 
	outline: 0;
}

a.linked:active {
	color: #000000
}

.border {
	border:1px solid #f1f1f1
}

.category-title {
	background-color:#f672ac;
	font-size:14px;
	height:40px;
	line-height:40px;
	text-align:center;
	border:1px solid #f1f1f1;
}

.category-item {
	height:40px;
	line-height:40px;
	text-align:center;
	border-bottom:1px solid #dcdcdc;
	background-color:#fafafa;
	position: relative;
	border-left:1px solid #f1f1f1;
	z-index:995;
	border-right:1px solid #f1f1f1;
	border-bottom:1px solid #f1f1f1;
	font-size:14px;
}

.category-item:hover {
	height:40px;
	line-height:40px;
	text-align:center;
	border-bottom:1px solid #dcdcdc;
	background-color:#fafafa;
	position: relative;
	z-index:995;
	border-left:1px solid #f1f1f1;
	border-bottom:1px solid #f1f1f1;
	border-right:none;
	background-color:#ffffff;
}

.category-item a {
	color:#000000;
	text-decoration: none;
}

.category-item.selected {
	background-color:#ffffff;
}

.category-item .subCategory {
	display:none;
	position: absolute;
	left: 228px;
	top:-1px;
	width: 180px;
}

.category-item  .subcategory-first {
	border-right:1px solid #f1f1f1;
	border-top:1px solid #f1f1f1;
	background-color:#ffffff;
}

.category-item .subcategory-middle {
	border-left:1px solid #f1f1f1;
	border-right:1px solid #f1f1f1;
	background-color:#ffffff;
}

.category-item  .subcategory-end {
	border-left:1px solid #f1f1f1;
	border-right:1px solid #f1f1f1;
	border-bottom:1px solid #f1f1f1;
	background-color:#ffffff;
}

.category-item:hover .subCategory{
	display:block;
}

.block-title {
	height:40px;
	line-height:28px;
	border:1px solid #f1f1f1;
	font-size:14px;
}

.view-more {
	float:right;
	margin-right:12px;
}

.block-content {
	border-bottom:1px solid #f1f1f1;
	border-left:1px solid #f1f1f1;
	border-right:1px solid #f1f1f1;
	padding:5px;
	font-size:14px;
}

.block-desc {
	margin-top:6px;
	border-left:6px solid #f672ac;
	margin-left:10px;
	text-indent:6px;
}

.nine-block-big {
	display: table-cell;
	text-align: center;
	font-size: 0px;
	vertical-align: middle;
	width: 200px;
	height: 200px;
	border:1px solid #f1f1f1;
}

.nine-block-small {
	display: table-cell;
	text-align: center;
	font-size: 0px;
	vertical-align: middle;
	width: 85px;
	height: 85px;
	border:1px solid #f1f1f1;
}

.item-title-small {
	text-align:center;
	border-bottom:1px solid #f1f1f1;
	border-left:1px solid #f1f1f1;
	border-right:1px solid #f1f1f1;
	line-height:24px;
	font-size:12px;
	overflow:hidden;
	width:85px;
	height:24px;
}

.item-title {
	text-align:center;
	border-bottom:1px solid #f1f1f1;
	border-left:1px solid #f1f1f1;
	border-right:1px solid #f1f1f1;
	line-height:36px;
}

.line-split {
	margin-top:10px;
}

.footer {
	margin-top:12px;
	margin-bottom:2px;
	width:950px;
	border:1px solid #dcdcdc;
	background-color:#f1f1f1;
	font-size:14px;
}

.footer-item {
	width:180px;
	padding-top:12px;
	padding-bottom:2px;
}

.footer-item-title {
	text-indent:30px;
	font-size:14px;
}

.qcode {
	text-align:center;
	font-size:14px;
}

.copy-right {
	text-align:center;
	font-size:12px;
	line-height:30px;
}

li {
	margin:0; 
	padding:0; 
	line-height:24px;
}

ul {	
	list-style:none;
	text-align:left;
}

body {
	font-size:14px;
}

a {
	color: #669999;
	text-decoration: none;
	outline: 0;
	cursor: pointer;
}

a:visited {color: #669999; outline: 0;}

a:hover {
	cursor: pointer;
	color: #669999;
	/*text-decoration: underline;*/
	text-decoration: none;
}

a:active {color: #669999;}