/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

.hide {
	display: none;
}

.active {
	background-color: pink
}

.global-head {
	margin-bottom: 10px;
	background-image:url("http://keleba.org:8088/img/keleba-sprites.png");
	background-repeat:repeat-x;
	background-position:0px -261px;
	line-height: 37px;
	vertical-align: middle;
	border-bottom: 5px solid #AC4348;
}

.global-head a, .global-head a:visited {
	display: block;
}

.global-head .highlight,
.global-head a.highlight,
.global-head a.highlight:visited,
.global-head .highlight a,
.global-head .highlight a:visited {
	color: white;
}
.global-head .logo {
	background-image:url("http://keleba.org:8088/img/keleba-sprites.png");
	background-position:0px -120px;
	background-repeat:no-repeat;
	height:38px;
	padding-left:94px;
	float: left;
}
.global-head .slogan {
	line-height: 18px;
	padding-top: 14px;
	font-size: 18px;
	font-family: 'Microsoft Yahei',​'Hei',​Tahoma,​'SimHei',​sans-serif;
}
.global-head .nav-tab.big {
	padding-left: 2em;
	padding-right: 2em;
	font-family: 'Microsoft Yahei',​'Hei',​Tahoma,​'SimHei',​sans-serif;
	font-size: 1.5em;
}
.global-head .nav-tab.small {
	padding-left: 1.2em;
	padding-right: 1.2em;
	margin-right: 1em;
}
.global-head img.avatar-tiny {
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
.global-head .active {
	background-color: #105460;
}

/*
 全局footer
*/
.sudafooter {
	margin-top: 40px;
	padding-bottom: 40px;
	padding-top: 5px;
	border-top: 1px;
	background-color: #efefef;
}

.copy-right {
	margin-top: 10px;
	text-align: center;
	font-size: 1em;
}

.copy-right .row {
	margin-bottom: 16px;
}

.wangjing {
	background-image: url("http://keleba.org:8088/img/keleba-sprites.png");
	background-position:0px -60px;
	height: 40px;
	margin: -24px 0 0 12px;
	width: 101px;
}

.zhengxin {
	background-image: url("http://keleba.org:8088/img/keleba-sprites.png");
	background-position:0px 0px;
	height: 40px;
	margin: -24px 0 0 12px;
	width: 160px;
}

/* 按钮相关class */
/*强调的button*/
.button.em,
a.button.em,
.buttion:visited.em,
a.button:visited.em,
button.em,
input[type="submit"].em,
input[type="reset"].em,
input[type="button"].em {
	color: white;
	text-decoration: none;
	border-color: #ff8f00;
	background: #ff6f02;
	background: #ff6f02 -moz-linear-gradient(top, #ff9000 0%, #ff6f02 100%); /* FF3.6+ */
	background: #ff6f02 -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9000), color-stop(100%,#ff6f02)); /* Chrome,Safari4+ */
	background: #ff6f02 -webkit-linear-gradient(top, #ff9000 0%,#ff6f02 100%); /* Chrome10+,Safari5.1+ */
	background: #ff6f02 -o-linear-gradient(top, #ff9000 0%,#ff6f02 100%); /* Opera11.10+ */
	background: #ff6f02 -ms-linear-gradient(top, #ff9000 0%,#ff6f02 100%); /* IE10+ */
	background: #ff6f02 linear-gradient(top, #ff9000 0%,#ff6f02 100%); /* W3C */
}
.button:hover.em,
a.button:hover.em,
.button-small:hover.em,
button:hover.em,
input[type="submit"]:hover.em,
input[type="reset"]:hover.em,
input[type="button"]:hover.em {
	border: 1px solid #ff4800;
}

.button:active.em,
a.button:active.em,
.button-small:active.em,
button:active.em,
input[type="submit"]:active.em,
input[type="reset"]:active.em,
input[type="button"]:active.em {
	background: #ff6e02;
	background: #ff6f02 -moz-linear-gradient(top, #ff9000 0%, #ff6f02 100%); /* FF3.6+ */
	background: #ff6f02 -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9000), color-stop(100%,#ff6f02)); /* Chrome,Safari4+ */
	background: #ff6f02 -webkit-linear-gradient(top, #ff9000 0%,#ff6f02 100%); /* Chrome10+,Safari5.1+ */
	background: #ff6f02 -o-linear-gradient(top, #ff9000 0%,#ff6f02 100%); /* Opera11.10+ */
	background: #ff6f02 -ms-linear-gradient(top, #ff9000 0%,#ff6f02 100%); /* IE10+ */
	background: #ff6f02 linear-gradient(top, #ff9000 0%,#ff6f02 100%); /* W3C */
}

.title {
	font-size: 1.167em;
}

img.avatar {
	/*margin-top: 5px;*/
	width: 80px;
	height: 80px;
}

img.avatar-small {
	margin-top: 1px;
	width: 50px;
	height: 50px;
}

img.avatar-tiny {
	margin-top: 1px;
	width: 30px;
	height: 30px;
}


img.avatar-30{
	width: 30px;
	height: 30px;
	background-color: #FFFFFF;
    border: 1px solid #DADADA;
    padding: 2px;
    border-radius: 2px 2px 2px 2px;
}

img.avatar-40{
	width: 40px;
	height: 40px;
}

img.avatar-50{
	background-color: #FFFFFF;
    border: 1px solid #DADADA;
    padding: 3px;
    border-radius: 3px 3px 3px 3px;
	width: 50px;
	height: 50px;
}

img.avatar-80{
	width: 80px;
	height: 80px;
}

img.avatar-180 {
	width:180px;
	height:180px;
}

.paging-a {
	margin-top: 8px;
}

.paging-a li {
	color: #666666;
	float: left;
	font-family: Tahoma;
	padding: 0 2px;
}

.pagination a.pre {
	background-position: 6px 5px;
	width: 10px;
}

.pagination a {
	border: 1px solid #CCCCCC;
	color: #0066CC;
	display: block;
	float: left;
	height: 20px;
	line-height: 18px;
	margin-right: 3px;
	min-width: 12px;
	padding: 0 4px;
	text-align: center;
	text-decoration: none !important;
}

.pagination a.current {
	border-color: #FFFFFF !important;
	color: #FF7300 !important;
	cursor: default;
	font-weight: bold;
}

.hover-show,
.hover-show1 {
	position: relative;
	z-index: 1;
}

.hover-showed,
.hover-showed-abs,
.hover-show1ed,
.hover-show1ed-abs {
	position: absolute;
	z-index: 5000;
	background-color: white;
}
.hover-showed,
.hover-show1ed {
	display: none;
}
.over-showed {
	position: absolute;
	opacity: 0.4;
	background-color: white;
}
 
.over-showed.topright,
.hover-showed-abs.topright,
.hover-showed.topright,
.hover-show1ed-abs.topright,
.hover-show1ed.topright {
	right: 0;
	top: 0;
}

.over-showed.topleft,
.hover-showed-abs.topleft,
.hover-showed.topleft,
.hover-show1ed-abs.topleft,
.hover-show1ed.topleft {
	left: 0;
	top: 0;
}

.over-showed.bottomright,
.hover-showed-abs.bottomright,
.hover-showed.bottomright,
.hover-show1ed-abs.bottomright,
.hover-show1ed.bottomright {
	right: 0;
	bottom: 0;
}
.over-showed.bottomright,
.hover-showed-abs.bottomright,
.hover-showed.bottomright,
.hover-show1ed-abs.bottomright,
.hover-show1ed.bottomright {
	right: 0;
	bottom: 0;
}

.over-showed.bottomleft,
.hover-showed-abs.bottomleft,
.hover-showed.bottomleft,
.hover-show1ed-abs.bottomleft,
.hover-show1ed.bottomleft {
	left: 0;
	bottom: 4px;
}

.hover-show:hover .hover-showed,
.hover-showed:hover,
.hover-show1:hover .hover-show1ed,
.hover-show1ed:hover {
	display: block;
}

.hover-showed-abs:hover,
.hover-showed:hover,
.hover-show1ed-abs:hover,
.hover-show1ed:hover {
	opacity: 1;
}

.center-vertical {
	margin-top: auto;
	margin-bottom: auto;
}


.hidden-poparea {
	display: none;
	position: absolute;
	z-index: 20000;
}

.hidden-popup-dlg {
	overflow: hidden;
}

.error {
	width: 0px;
	padding-top: 6px;
	padding-left: 22px;
	font:1.1em 黑体 !important;
	color:#a5a5a5;
	vertical-align: middle;
	white-space: nowrap;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 1.5em;
	
}

.error-wrap {
	height: 2em;
	margin-bottom: 2px;
}

.error-info {
	width: auto;
	background-position: 0px -314px;
	background-image: url("http://keleba.org:8088/img/keleba-sprites.png");
}
.error-warn {
	width: auto;
	background-position: 0 -354px;
	background-image: url("http://keleba.org:8088/img/keleba-sprites.png");
}

.ok{
    background-image: url("http://keleba.org:8088/img/keleba-sprites.png");
	background-position: 0px -394px;
	display:inline;
	float:left;
	padding:6px;
	margin-left:6px;
}

.tab-content {
	background-color: white;
	border: solid 1px #ddd;
}

.tab-content input[type=url] {
	width: 280px;
}

.progress {
	margin-top:6px;
	background-color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	khtml-border-radius: 10px;
	border-radius: 10px;
	height:18px;
}

.progress .bar {
	background-color: #389bad;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	khtml-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
	height:18px;
}

.break-word {
	overflow: hidden;
	word-wrap: break-word;
}

input[disabled="disabled"],
a[disabled="disabled"],
input[disabled="disabled"]:hover,
a[disabled="disabled"]:hover {
	border:1px solid #DDD;
	background-color:#F5F5F5;
	color:#ACA899;
}

.dim-len {
	color: #cccccc;
}

.common-submit {
	padding: 5px 14px !important;
	background-color: #156f7f;
	color: #fff;
}

.common-submit:active {
	color: #fff;
	background-color: #156f7f;
}

.common-submit:hover {
	color: #fff;
	background-color: #2990a2;
}

.tip-block {
	background-color: #F6F7F2;
}

.button-padding {
	padding: 6px 10px !important;
}

.index-tab-switch {
	position: relative;
	height:28px;
	border-bottom:2px solid #ac4348;
	z-index:1;
	margin-bottom:20px;
}

.index-tab-switch .active {
	background-color: #f7f7f7;
	border-top:2px solid #ac4348;
	border-left:2px solid #ac4348;
	border-right:2px solid #ac4348;
	color:#666;
}

.index-tab-switch .index-tab {
	color:#999;
	height:26px;
	position: absolute;
	padding:2px 12px 0 14px;
	font-size: 16px;
	font-family: 'Microsoft Yahei',​'Hei',​Tahoma,​'SimHei',​sans-serif;
	z-index: 1;
}