<html>
<head>
	<title>华强布艺商城</title>
	<link rel="stylesheet" href="$urlUtil.getStaticServer()/css/base.css" />
	<link rel="stylesheet" href="$urlUtil.getStaticServer()/css/goods-managerment.css" />
	<link rel="stylesheet" href="$urlUtil.getStaticServer()/css/skeleton.css" />
	<link rel="stylesheet" href="$urlUtil.getStaticServer()/css/goods-search.css" />
    <script src="$urlUtil.getStaticServer()/js/jquery-1.7.1.min.js" type="text/javascript"></script>
</head>
<body class="container">
	<div class="w32">	
		#if($goodsDetailList && $goodsDetailList.size() > 0)
			#set($i=0)
			#foreach($goodsDetail in $goodsDetailList)
				#if($i%4==0)
					<div class="row">
				#end
				<div class="column alpha omega">		
					<div class="goods-item">
						<div class="goods-img">
							<img src="$urlUtil.getSearchImagePath($goodsDetail.goodsPic1)">
						</div>
						<div class="goods-title">$!goodsDetail.title</div>
						<div class="goods-price">$!goodsDetail.originPrice</div>
						<div>$!goodsDetail.getPostfeeVO().getPostInfo()</div>
					</div>
				</div>
								
				#if($i%4 == 3 || $i + 1== $goodsDetailList.size())
					</div>
				#end
				#set($i=$i+1)
			#end
		#end
		</div>
	</div>
</body>
</html>