<html>
<head>
	<title>华强布艺商城</title>
	<link rel="stylesheet" href="$urlUtil.getStaticServer()/css/skeleton.css" />
	<link rel="stylesheet" href="$urlUtil.getStaticServer()/css/base.css" />
	<link rel="stylesheet" href="$urlUtil.getStaticServer()/css/show-goods.css" />
	<script type="text/javascript" src="$urlUtil.getStaticServer()/js/jquery-1.7.1.js"></script>
	<script src="$urlUtil.getStaticServer()/js/plugin.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(
			function(){
				var t_choosed;
				#set($escjsSmallImage1=$!urlUtil.getSmallImagePath($goodsDetail.goodsPic1))
				#set($escjsBigImage1=$urlUtil.getBigImagePath($goodsDetail.goodsPic1))
				$('#tiny-image-1').click(function() {
					$('.img-preview').html("<a href='$escjsBigImage1' target='_blank'><img src='$escjsSmallImage1'></a>");
				});
				#if($goodsDetail.goodsPic2) 
					#set($escjsSmallImage2=$!urlUtil.getSmallImagePath($goodsDetail.goodsPic2))
					#set($escjsBigImage2=$urlUtil.getBigImagePath($goodsDetail.goodsPic2))
					$('#tiny-image-2').click(function(){
						$('.img-preview').html("<a href='$escjsBigImage2' target='_blank'><img src='$escjsSmallImage2'></a>");
					});
				#end
				
				#if($goodsDetail.goodsPic3)
					#set($escjsSmallImage3=$!urlUtil.getSmallImagePath($goodsDetail.goodsPic3))
					#set($escjsBigImage3=$urlUtil.getBigImagePath($goodsDetail.goodsPic3))
					$('#tiny-image-3').click(function(){
						$('.img-preview').html("<a href='$escjsBigImage3' target='_blank'><img src='$escjsSmallImage3'></a>");
					});
				#end
				
				$('.goods-type-item').click(function(){
					var s_img = $(this).attr('data-item-small');
					var b_img = $(this).attr('data-item-big');
					$('.img-preview').html("<a href="+b_img+" target='_blank'><img src="+s_img+"></a>");
					if (t_choosed == undefined) {
						t_choosed = $(this).attr('id');
						$(this).css('border','1px solid #ff0000');
					} else {
						var c_c = $(this).attr('id');
						if (c_c != t_choosed) {
							$(this).css('border', '1px solid #ff0000');
							$('#'+t_choosed).css('border','1px solid #ddd');
							t_choosed = c_c;
						}
					}
					
				});
			}
		);
	</script>
</title>
<body>
	<div class="container">
		<div class="w12">
			<div class="row img-preview">
				<a href='$urlUtil.getBigImagePath($goodsDetail.goodsPic1)' target='_blank'><img src="$urlUtil.getSmallImagePath($goodsDetail.goodsPic1)"></a>
			</div>
			<div class="row">
				<div class="tiny-image" id="tiny-image-1">
					<div class="box">
					<img src="$urlUtil.getTinyImagePath($goodsDetail.goodsPic1)">
					</div>
				</div>
				#if($goodsDetail.goodsPic2)
					<div class="tiny-image" id="tiny-image-2">
						<div class="box">
						<img src="$urlUtil.getTinyImagePath($goodsDetail.goodsPic2)">
						</div>
					</div>
				#end
				#if($goodsDetail.goodsPic3)
					<div class="tiny-image" id="tiny-image-3">
						<div class="box">
						<img src="$urlUtil.getTinyImagePath($goodsDetail.goodsPic3)">
						</div>
					</div>
				#end
			</div>
		</div>
		<div class="w20">
			<div class="row goods-title">
				<div class="column alpha">$goodsDetail.title</div>
			</div>
			<div class="goods-info">
				<div class="row">
					<div class="row goods-item">
						<div class="column alpha">价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：</div>
						<div class="column"><span class="goods-price">$goodsDetail.originPrice</span></div>
					</div>
					<div class="row goods-item">
					#set($postVO = $!goodsDetail.getPostfeeVO())
					<div class="column alpha">运&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费：</div>
					<div class="column">$postVO.getPostInfo()</div>
					</div>
					<div class="row goods-item">
						<div class="column alpha">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</div>
						<div class="column">浙江桐乡</div>
					</div>
					#*
					#if($categoryList) 
						#set($size=$categoryList.size())
						#set($i=0)
						<div class="row goods-item">
							<div class="column alpha">类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目：</div>
							<div class="column">
								#foreach($category in $categoryList)
									#if($i+1==$size)${category.categoryName}#else${category.categoryName}-->#end
									#set($i=$i+1)
								#end
							</div>
						</div>
					#end
					*#
					<div class="row">
						<div class="column alpha">类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型：</div>
						<div class="column">
						#if($goodsTypes.size()>0)
							#set($i = 0)
							#foreach($goodsType in $goodsTypes)
								#if($i%9 == 0) 
									<div class="row goods-type-row">
								#end
							
								<div class="goods-type-pic hover-show">
									<div class="goods-type-item" id="$goodsType.id" data-item-small="$urlUtil.getSmallImagePath($goodsType.picName)" data-item-big="$urlUtil.getBigImagePath($goodsType.picName)">
										<img src="$urlUtil.getTinyImagePath($goodsType.picName)">
									</div>
									<div>$goodsType.typeName</div>
								</div>
								
								#if($i + 1 == $goodsTypes.size())
									</div>
								#end
								
								#if($i%9==8)
									</div>
								#end
								
								#set($i = $i+1)
							#end
						#else
							<div class="row goods-type-row">
								<div class="goods-type-pic">
									<div class="goods-type-add"><a href="#" class="ex2trigger"><div>+</div></a></div>
								</div>
							</div>
						#end
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="w32 goods-line">
		</div>
	</div>
	<div class="container">
		<div class="w32">
			<div class="goods-desc">
				$goodsDetail.goodsDesc
			</div>
		</div>
	</div>
</body>
</html>