<html>
<head>
	<title>华强布艺商城</title>
	<link rel="stylesheet" href="$urlUtil.getStaticServer()/css/skeleton.css" />
	<link rel="stylesheet" href="$urlUtil.getStaticServer()/css/base.css" />
	<link rel="stylesheet" href="$urlUtil.getStaticServer()/css/index.css" />
    <script src="$urlUtil.getStaticServer()/js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script>
		$(document).ready(function(){
			$('#search-goods').click(function() { 
				var searchText = $('.search-text').eq(0).val() ;
				if ($.trim(searchText) == '') {
					alert('请输入商品名称!');
				} else {
					$('#search-form').submit();
				}
			});
	    });
    </script>
</head>
<body class="container">
	$controller.setTemplate('controller/header.vm')
	
	<div class="row">
		<div class="w8 alpha">
			$controller.setTemplate('controller/category_list.vm').setParameter('categorys',$categorys)
		</div>
		<div class="w24 omega">
			#if($rongbu && $rongbu.size() > 0)	$!controller.setTemplate('controller/goods_elevent.vm').setParameter('goodsDetails',$rongbu).setParameter('categoryName','绒布系列').setParameter('categoryId', 1)
			#end
			
			#if($fangbu && $fangbu.size() > 0)
				<div class="line-split"></div>		$!controller.setTemplate('controller/goods_elevent.vm').setParameter('goodsDetails',$fangbu).setParameter('categoryName','仿麻系列').setParameter('categoryId', 2)
			#end
			
			#if($xnrbu && $xnrbu.size() > 0)
				<div class="line-split"></div>
				$!controller.setTemplate('controller/goods_elevent.vm').setParameter('goodsDetails',$xnrbu).setParameter('categoryName','雪尼尔系列').setParameter('categoryId', 3)
			#end
			
			#if($fangpi && $fangpi.size() > 0)
				<div class="line-split"></div>
				$!controller.setTemplate('controller/goods_elevent.vm').setParameter('goodsDetails',$fangpi).setParameter('categoryName','仿皮系列').setParameter('categoryId', 4)
			#end
		</div>
	</div>
	
	$controller.setTemplate('controller/footer.vm')
</body>
</html>