<html>
	<head>
		<title>管理员登录</title>
	</head>
	<body>
		<form name="loginForm" method="post" action="/sso/login_check">
			<div>
				姓名:<input type="text" name="uname">
			</div>
			<div>
    			密码:<input type="password" name="pwd">
			</div>
			<input type="submit" value="提交">
		</form>
	</body>
</html>
