<html>
	<head>
		<title>可乐吧</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="$urlUtil.getStaticServer()/css/wx.css">
	</head>
	<body class="joke-detail">
			<div class="fd-clr app-down">
    				<div style="float:left;">
    					<img src="$urlUtil.getStaticServer()/img/keleba.png" alt="可乐吧android手机端"/>
    				</div>
					<div style="float:left;margin-left:12px;">
						<div class="app-name">
						可乐吧
						</div>
						<div class="app-desc">
							幽默笑话，糗事，可乐事件  <span><a href="$urlUtil.getStaticServer()/android/joke.apk" class="button" style="margin-left:4px;">下载</a></span>
						</div>
					</div>
			</div>
			<div class="fd-clr joke-info">
    			#if ($joke && $joke.content)
        			<div class="joke-content">
        				$!noescStringTool.txt2Html($joke.content)
        			</div>
        			#if($joke.bmiddlePic)
            			<div>
            				<img src="$joke.bmiddlePic" alt="可乐吧 幽默笑话 图片" class="joke-img">
            			</div>
        			#end
    			#end
			</div>
	</body>
</html>